*{
  margin: 1px;;
  padding: 5px;
  box-sizing: border-box;
}
body{
  font-family: 'montseratt', sans-serif;

}
.app{
  background-image: url('./assets/snow.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-in-out;
}

.app.warm{
  background-image: url('./assets/sunny.jpg');
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}
.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: white;
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.location-box .location{
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.location-box .date{
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  }

  .weather-box{
    text-align: center;
  }
  .weather-box .temp{
    position: relative;
    display: inline-block;
    margin: 30px;
    background-color: lightskyblue;
    border-radius: 15px;
    padding: 15px 25px;

    color: white;
    font-size: 100px;
    font-weight: 900;

    text-align: center;
  }

  .weather-box .weather{
    color: lightskyblue;
    font-size: 25px;
    font-weight: 700;
  }
